#one_page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: bisque;
}



#one_header{
    width: 100vw;
    height: 20vh;
    background-color: rgb(252, 210, 159);
}

#one_main{
    width: 100vw;
    height: 70vh;
    background-color: rgb(230, 183, 126);
}
#one_footer{
    width: 100vw;
    height: 10vh;
    background-color: rgb(247, 187, 114);
}